/* Colors */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 0 1.4rem;
}
body{
    background-color: #F5EFE6;
    background-image: url(img/background-6.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
}
main{
    margin: 1.4rem 1.4rem;

}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


.bg-primary {
    background-color: #F5EFE6;
}
.bg-secondary {
    background-color: #7895B2;
}
.bg-tertiary {
    background-color: #E8DFCA;
}
.bg-quaternary{
    background-color: #AEBDCA;
}
.tx-primary {
    color: #000000;
}
.tx-secondary {
    color: #7895B2;
}
.tx-tertiary{
    color: #E8DFCA;
}
.font-thin{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.font-light{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.font-regular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.font-medium{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.font-semibold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.font-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.rounded{
    border-radius: 4rem;
}
.name {
    display: inline-block;
}
.size-2{
    font-size: 1.2rem;
}

nav{
    display: inline-block;
    width: 60%;
    height: 3.4rem;
    padding: 0.2rem;
    border-radius: 1rem;
}

.navbar {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

li{
    display: flex;
    align-items: center;
    list-style: none;
    display: inline-block;
    text-align: center;
}


li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: #F5EFE6;
    align-self: center;
    padding: 0.6rem 1rem;
    border-radius: 0.8rem;
}
li a:link {
    text-decoration: none;
    color: #F5EFE6;
}
  
li a:visited {
    text-decoration: none;
    color: #F5EFE6;
  }
  
li a:hover {
    text-decoration: none;
    color: #F5EFE6;
    background-color: #AEBDCA;
  }
  
li a:active {
    text-decoration: none;
    color: #E8DFCA;
  }
a.contact-mail, a.contact-mail:link, a.contact-mail:visited{
    text-decoration: none;
}
a.contact-mail:hover{
    color: #AEBDCA;
}
.flex-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 8rem auto;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #768da3;
    max-width: 40rem;
    min-height: 20rem;
    max-height: 30rem;
}
.prof-img{
    position: absolute;
    top: -4rem;
    right: 50%;
    margin-right: -4rem;
    width: 8rem;
    height: 8rem;
}
.prof-img:hover{
    opacity: 80%;
    transition: 0.2s;
}
.card-title{
    display: inline-block;
    width: 80%;
    text-align: center;
    padding-top: 1.6rem;
}
.card-description {
    display: inline-block;
    width: 80%;
    text-align: center;
    padding-bottom: 1rem;
}
.bg-prof-img{
    position: absolute;
    top: -4.2rem;
    right: 50%;
    margin-right: -4.2rem;
    width: 8.4rem;
    height: 8.4rem;
    border-radius: 100%;
}
.card-title{
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.flex-card-info-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #ccc7bb;
    max-width: 40rem;
    min-height: 20rem;
    max-height: 50rem;
}

.flex-card-info-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #7895B2;
    max-width: 40rem;
    min-height: 20rem;
    max-height: 50rem;
}

.card-title-info{
    margin-top: 2rem;
    display: inline-block;
    width: 80%;
    text-align: center;
}

.habilidades-texto{
    display: inline-block;
    width: 18rem;
    height: auto;
}
.social-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6%;
    margin: 0 auto;
    max-width: 50rem;
    padding: 2rem 2rem;
}
.icon-format {
    font-size: 3rem;
}
a.icon-format {
    display: inline-block;
    text-decoration: none;
    width: 15%;
    color: #AEBDCA;
    align-self: center;
    padding: 0.6rem 1rem;
    border-radius: 0.8rem;
}
a.icon-format:link {
    text-decoration: none;
    color: #AEBDCA;
}
  
a.icon-format:visited {
    text-decoration: none;
    color: #AEBDCA;
  }
  
a.icon-format:hover {
    text-decoration: none;
    color: #7895B2;
    background-color: #F5EFE6;
  }
  
a.icon-format:active {
    text-decoration: none;
    color: #AEBDCA;
  }

.footer-flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
}

/* Media Queries */

@media (max-width: 700px) and ( min-width:400px) {
        .header-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }
    
        header nav {
            width: 90%;
            margin-top: 1rem;
        }
        div .card-title {
            margin-top: 3rem;
        }
        /* body{
            background-size: 800px;
            background-position: 0% 20%;
        } */
}

@media (max-width: 500px) {
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    header nav {
    width: 100%;
    margin-top: 1rem;
    padding: 0rem;
    }
    .navbar{
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
    }

    div .card-title {
        margin-top: 3rem;
    }

    /* body{
        background-size: 800px;
        background-position: 0% 20%;
    } */
}

@media (max-width: 370px) {
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    header nav {
        min-width: 10rem;
        margin-top: 1rem;
        padding: 0rem;
        height: 10rem;
    }
    .navbar{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
    }

    div .card-title {
        margin-top: 8rem;
    }

    /* body{
        background-size: 800px;
        background-position: 0% 20%;
    } */
}
@media( min-width:700px){
    .footer-flex-container{
        flex-direction: row;
    }
}

/* Para efecto scroll Javascript */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}